[package]
name = "spin-sdk"
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
repository = { workspace = true }
rust-version = { workspace = true }
homepage = { workspace = true }
documentation = "https://docs.rs/spin-sdk"
readme = "README.md"
description = """
The Spin Rust SDK makes it easy to build Spin components in Rust.
"""

[lib]
name = "spin_sdk"

[dependencies]
anyhow = { workspace = true }
async-trait = "0.1.74"
chrono = "0.4.38"
form_urlencoded = "1.0"
postgres_range = { version = "0.11.1", optional = true }
rust_decimal = { version = "1.37.2", default-features = false, optional = true }
spin-executor = { version = "5.0.0", path = "crates/executor" }
spin-macro = { version = "5.0.0", path = "crates/macro" }
spin-wasip3-http = { version = "5.0.0", path = "crates/spin-wasip3-http" }
spin-wasip3-http-macro = { version = "5.0.0", path = "crates/spin-wasip3-http-macro" }
thiserror = { workspace = true }
uuid = { version = "1.18.0", optional = true }
wit-bindgen = { workspace = true }
routefinder = "0.5.3"
once_cell = { workspace = true }
futures = { workspace = true }
bytes = { workspace = true }
hyperium = { workspace = true }
serde_json = { version = "1.0.96", optional = true }
serde = { version = "1.0.163", optional = true }
wasi = { workspace = true }

[features]
default = ["export-sdk-language", "json", "postgres4-types"]
export-sdk-language = []
json = ["dep:serde", "dep:serde_json"]
postgres4-types = ["dep:rust_decimal", "dep:uuid", "dep:postgres_range", "json"]

[workspace]
resolver = "2"
members = [
  "examples/hello-world",
  "examples/http-outbound/http-hello",
  "examples/http-outbound/outbound-http",
  "examples/http-outbound/outbound-http-to-same-app",
  "examples/http-router",
  "examples/http-router-macro",
  "examples/json-http",
  "examples/redis",
  "examples/redis-async",
  "examples/key-value",
  "examples/mysql",
  "examples/postgres",
  "examples/postgres-v3",
  "examples/postgres-v4",
  "examples/redis-outbound",
  "examples/mqtt-outbound",
  "examples/variables",
  "examples/wasi-http-streaming-outgoing-body",
  "examples/wasi-http-streaming-file",
  "examples/wasip3-http-axum-router",
  "examples/wasip3-http-hello-world",
  "examples/wasip3-http-send-request",
  "test-cases/simple-http",
  "test-cases/simple-redis",
  "crates/*",
]

[dev-dependencies]
http-body-util = "0.1.0"
hyper = "1.2.0"
reqwest = "0.11.24"
tokio = { version = "1.38.2", features = [
  "fs",
  "process",
  "macros",
  "rt-multi-thread",
  "sync",
] }
wasmtime = "35.0.0"
wasmtime-wasi = "35.0.0"
wasmtime-wasi-http = "35.0.0"
wit-component = "0.235.0"

[workspace.package]
version = "5.0.0"
authors = ["Spin Framework Maintainers <cncf-spin-maintainers@lists.cncf.io>"]
edition = "2021"
license = "Apache-2.0 WITH LLVM-exception"
repository = "https://github.com/spinframework/spin-rust-sdk"
rust-version = "1.86"
homepage = "https://spinframework.dev/rust-components"

[workspace.dependencies]
anyhow = "1"
hyperium = { package = "http", version = "1.3.1" }
http-body = "1.0.1"
http-body-util = "0.1.3"
bytes = "1.10.1"
wit-bindgen = "0.43.0"
futures = "0.3.28"
once_cell = "1.18.0"
thiserror = "2.0.17"
# Pin to the last version that targeted WASI 0.2.0
wasi = "=0.13.1"
wasip3 = "0.2.0"
